<section class="about" id="about">
  <div class="container">
    <h2 class="container__title">Naše filozofie</h2>
    <article class="about__article">
      <p class="about__paragraph">
        Zažijte v našem studiu osobní péči a stylovou transformací ve světě
        krásy, který je plný inspirace. Náš vášnivý a zkušený tým kadeřníků je
        zde, aby vám pomohl objevit a vyjádřit vaší jedinečnou krásu
        prostřednictvím vlasů.
      </p>
      <p class="about__paragraph">
        Naše filozofie je jednoduchá - každý zákazník pro nás není jen číslo,
        ale individuum, kterému chceme dopřát nejlepší možnou péči. S nabídkou
        moderních střihu, barevných úprav, speciální péči o vlasy, účesu,
        prodloužení vlasů, permanentního make-upu, líčení, jsme připraveni
        spylnit veškeré vaše přání.
      </p>
      <p class="about__paragraph">
        Abychom Vám zajistili maximální péče používáme pouze kvalitní produkty,
        které jsou šetrné k vlasům a pokožce hlavy. Myslíme také o minimalizace
        našeho ekologického otisků, abychom přispěli k udržitelné budoucnosti.
      </p>
    </article>
  </div>
</section>
