<section class="about" id="about">
  <div class="container">
    <h2 class="container__title">Naše filozofie</h2>
    <article class="about__article">
      <p class="about__paragraph">
        Zažijte v našem studiu osobní péči a stylovou proměnu ve světě krásy
        plném inspirace. Náš zkušený a zapálený tým kadeřníků je tu proto, aby
        vám pomohl objevit a vyjádřit vaši jedinečnou krásu prostřednictvím
        vašich vlasů.
      </p>
      <p class="about__paragraph">
        Naše filozofie je jednoduchá – každý zákazník pro nás není jen číslo,
        ale jedinečná osobnost, které chceme dopřát tu nejlepší možnou péči.
        Nabízíme moderní střihy, barvení, speciální péči o vlasy, společenské i
        svatební účesy, prodlužování vlasů, řas i profesionální líčení. Jsme
        připraveni splnit všechna vaše přání.
      </p>
      <p class="about__paragraph">
        Abychom vám zajistili maximální péči, používáme pouze kvalitní produkty,
        které jsou šetrné k vlasům i pokožce hlavy. Myslíme také na minimalizaci
        našeho ekologického dopadu a snažíme se přispívat k udržitelnější
        budoucnosti.
      </p>
    </article>
  </div>
</section>
