<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="container__title">Kde nás najdete</h2>

    <div class="contacts__block">
      <iframe
        title="google-maps"
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.908612547673!2d14.917007300000002!3d50.424174300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709556cd397bdf9%3A0x9969ec8b7b344e55!2sStudio%20kr%C3%A1sy%20DIVA!5e0!3m2!1scs!2scz!4v1725639802805!5m2!1scs!2scz"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <div class="contacts__content">
        <address>U Stadionu 817, 293 01 Mladá Boleslav</address>

        <h3>Jsme na sociálních sítích:</h3>

        <ul class="socials">
          <li>
            <a
              class="socials__link"
              href="https://www.instagram.com/studiodivamb/"
              target="_blank"
              rel="noopener"
              title="instagram"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-square-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
