<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="container__title">Kde nás najdete</h2>

    <div class="contacts__block">
      <a
        class="map-link"
        href="https://goo.gl/maps/DrP3vHRaPbUKJ5bR7"
        target="_blank"
        rel="noopener"
        title="zobrazit na mapě"
        ><img
          srcset="
            ./images/contacts/map_x1.webp 1x,
            ./images/contacts/map_x2.webp 2x
          "
          src="./images/contacts/map-def.jpg"
          min-width="330"
          alt="Umístění salonu na mapě"
          loading="lazy"
      /></a>

      <div class="contacts__content">
        <address>U Stadionu 817, 293 01 Mladá Boleslav</address>

        <h3>Jsme na sociálních sítích:</h3>

        <ul class="socials">
          <li>
            <a
              class="socials__link"
              href="https://www.instagram.com/studiodivamb/"
              target="_blank"
              rel="noopener"
              title="instagram"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-square-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
