<section class="about" id="cooperation">
  <div class="container">
    <h2 class="container__title">Spolupráce</h2>
    <ul class="cooperation__list">
      <li class="cooperation__item">
        <a
          href="https://www.framesi.cz/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="framesi"
          ><img
            srcset="
              ./images/cooperation/x1/framesi_x1.webp 1x,
              ./images/cooperation/x2/framesi_x2.webp 2x
            "
            src="./images/cooperation/default/framesi.jpg"
            min-width="125"
            alt="Logo of Framesi"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.goldwell.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="goldwell"
          ><img
            srcset="
              ./images/cooperation/x1/goldwell_x1.webp 1x,
              ./images/cooperation/x2/goldwell_x2.webp 2x
            "
            src="./images/cooperation/default/goldwell.jpg"
            min-width="125"
            alt="Logo of Goldwell"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.revlon.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="revlon"
          ><img
            srcset="
              ./images/cooperation/x1/revlon_x1.webp 1x,
              ./images/cooperation/x2/revlon_x2.webp 2x
            "
            src="./images/cooperation/default/revlon.jpg"
            min-width="125"
            alt="Logo of Revlon"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.fanola.it/fa_en/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="fanola"
          ><img
            srcset="
              ./images/cooperation/x1/fanola_x1.webp 1x,
              ./images/cooperation/x2/fanola_x2.webp 2x
            "
            src="./images/cooperation/default/fanola.jpg"
            min-width="125"
            alt="Logo of Fanola"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.labiosthetique.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="la-biosthetique"
          ><img
            srcset="
              ./images/cooperation/x1/la-biosthetique_x1.webp 1x,
              ./images/cooperation/x2/la-biosthetique_x2.webp 2x
            "
            src="./images/cooperation/default/la-biosthetique.jpg"
            min-width="125"
            alt="Logo of La Biosthetique"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.goodhairltd.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="good-hair"
          ><img
            srcset="
              ./images/cooperation/x1/good-hair_x1.webp 1x,
              ./images/cooperation/x2/good-hair_x2.webp 2x
            "
            src="./images/cooperation/default/good-hair.jpg"
            min-width="125"
            alt="Logo of Good Hair"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://labelm.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="label-m"
          ><img
            srcset="
              ./images/cooperation/x1/label-m_x1.webp 1x,
              ./images/cooperation/x2/label-m_x2.webp 2x
            "
            src="./images/cooperation/default/label-m.jpg"
            min-width="125"
            alt="Logo of Good Hair"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
    </ul>
  </div>
</section>
