<section class="about" id="cooperation">
  <div class="container">
    <h2 class="container__title">Spolupráce</h2>
    <ul class="cooperation__list">
      <li class="cooperation__item">
        <a
          href="https://www.framesi.cz/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="framesi"
          ><img
            src="./assets/images/cooperation/framesi.webp?as=jpg&width=180"
            srcset="
              ./assets/images/cooperation/framesi.webp?width=180 1x,
              ./assets/images/cooperation/framesi.webp?width=360 2x
            "
            min-width="125"
            alt="Logo of Framesi"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://labelm.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="label-m"
          ><img
            src="./assets/images/cooperation/label-m.webp?as=jpg&width=180"
            srcset="
              ./assets/images/cooperation/label-m.webp?width=180 1x,
              ./assets/images/cooperation/label-m.webp?width=360 2x
            "
            min-width="125"
            alt="Logo of Label.m"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
      <li class="cooperation__item">
        <a
          href="https://www.goldwell.com/"
          class="cooperation__link"
          target="_blank"
          rel="noopener noreferrer"
          title="goldwell"
          ><img
            src="./assets/images/cooperation/goldwell.webp?as=jpg&width=180"
            srcset="
              ./assets/images/cooperation/goldwell.webp?width=180 1x,
              ./assets/images/cooperation/goldwell.webp?width=360 2x
            "
            min-width="125"
            alt="Logo of Goldwell"
            class="cooperation__img"
            loading="lazy"
        /></a>
      </li>
    </ul>
  </div>
</section>
