<footer>
  <div class="container">
    <h2 class="visually-hidden">Footer</h2>
    <p>
      Team`s photo from
      <a
        href="https://www.instagram.com/beaphoto24/"
        target="_blank"
        rel="noopener noreferrer"
        title="Instagram"
        >beaphoto24</a
      >
    </p>
    <p lang="en">
      Created by
      <a
        href="https://www.linkedin.com/in/oleksandr-moskaliuk/"
        target="_blank"
        rel="noopener noreferrer"
        title="LinkedIn"
        >OleksPM</a
      >
    </p>
    <p>2023</p>
  </div>
</footer>
