<header class="head js-head">
  <div class="container head__container">
    <a href="#hero" class="logo-link head__logo-link" title="Domů"
      ><span class="logo unclick">DIVA</span></a
    >

    <nav class="nav head__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link active" data-nav="hero">Domů</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" data-nav="about">Naše filozofie</a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link" data-nav="team">Tým</a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link" data-nav="portfolio"
            >Galerie</a
          >
        </li>
        <li class="nav__item">
          <a href="#cooperation" class="nav__link" data-nav="cooperation"
            >Spolupráce</a
          >
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link" data-nav="contacts"
            >Kde nás najdete</a
          >
        </li>
      </ul>
    </nav>

    <button
      class="button book-btn head__book-btn js-book-btn"
      title="vybrat službu"
    >
      Služby & ceny
    </button>

    <button
      class="button open-menu-btn js-open-mob-menu"
      type="button"
      title="mobilní menu"
    >
      <svg class="open-menu-icon unclick" width="32" height="32">
        <use href="./images/icons.svg#icon-th-menu"></use>
      </svg>
    </button>
  </div>
</header>
