.advertising {
  position: fixed;
  display: none;
  right: 5vw;
  bottom: 5vh;
  width: 90vw;
  padding: 10px;

  color: $ad-content-color;
  background-color: $ad-background-color;
  border-radius: 10px;

  @media screen and (min-width: $tablet-width) {
    width: 40vw;
  }

  @media screen and (min-width: $desktop-width) {
    width: 25vw;
    font-size: x-large;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    background-color: $ad-background-color;

    transition-duration: $normal-transition-duration;
    transition-timing-function: $normal-transition-timing-function;
    transition-property: background-color, fill;

    &:hover,
    &:focus,
    &:active {
      background-color: $main-background-color;
      fill: $ad-inverce-color;
      outline: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & a {
      text-decoration: underline;
    }
  }
}
