.button {
  color: $main-text-color;
  background-color: $main-background-color;
  border: none;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: color, box-shadow, text-shadow;

  & svg {
    fill: $main-text-color;

    transition-duration: $normal-transition-duration;
    transition-timing-function: $normal-transition-timing-function;
    transition-property: fill, stroke;
  }

  &:active {
    color: $active-color;
    box-shadow: 0 0 5px $active-color;
    text-shadow: 0 0 5px $active-color;

    & svg {
      fill: $active-color;
      stroke: $active-color;
    }
  }

  &:focus-visible {
    outline: 1px solid $active-color;
  }

  @media (hover: hover) {
    &:hover {
      color: $active-color;
      box-shadow: 0 0 5px $active-color;
      text-shadow: 0 0 5px $active-color;

      & svg {
        fill: $active-color;
        stroke: $active-color;
      }
    }
  }

  &.book-btn {
    padding: 5 10;
    border: 1px solid $main-text-color;
    border-radius: 10px;
  }
}
