@use "../utils/variables" as var;

.button {
  color: var.$main-text-color;
  background-color: var.$main-background-color;
  border: none;

  transition-duration: var.$normal-transition-duration;
  transition-timing-function: var.$normal-transition-timing-function;
  transition-property: color, box-shadow, text-shadow;

  & svg {
    fill: var.$main-text-color;

    transition-duration: var.$normal-transition-duration;
    transition-timing-function: var.$normal-transition-timing-function;
    transition-property: fill, stroke;
  }

  &:active {
    color: var.$active-color;
    box-shadow: 0 0 5px var.$active-color;
    text-shadow: 0 0 5px var.$active-color;

    & svg {
      fill: var.$active-color;
      stroke: var.$active-color;
    }
  }

  &:focus-visible {
    outline: 1px solid var.$active-color;
  }

  @media (hover: hover) {
    &:hover {
      color: var.$active-color;
      box-shadow: 0 0 5px var.$active-color;
      text-shadow: 0 0 5px var.$active-color;

      & svg {
        fill: var.$active-color;
        stroke: var.$active-color;
      }
    }
  }

  &.book-btn {
    padding: 5 10;
    border: 1px solid var.$main-text-color;
    border-radius: 10px;
  }
}
