.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (max-width: 374.98px) {
    width: 100%;
  }

  // Phone styles
  @media screen and (min-width: 375px) {
    width: var(--mobile-width);
  }

  // Tablet styles
  @media screen and (min-width: 768px) {
    width: var(--tablet-width);
    padding-left: 20px;
    padding-right: 20px;
  }

  // Desktop styles
  @media screen and (min-width: 1280px) {
    width: var(--desktop-width);
  }
}

.container__title {
  text-align: center;
  margin-bottom: 15px;

  font-size: 24px;

  background-image: url(../images/backgrounds/gold-structure.webp);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}
