@use "../utils/variables" as var;

.cooperation__list {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;

  @media screen and (min-width: var.$tablet-width) {
    row-gap: 30px;
  }
}

.cooperation__item {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;

  transition-duration: var.$normal-transition-duration;
  transition-timing-function: var.$normal-transition-timing-function;
  transition-property: box-shadow, outline;

  @media screen and (min-width: var.$tablet-width) {
    width: 30%;
  }

  &:has(.cooperation__link:active) {
    outline: solid 1px var.$main-text-color;
    box-shadow: 0 0 10px var.$active-color;
  }

  @media (hover: hover) {
    &:has(.cooperation__link:hover) {
      outline: solid 1px var.$main-text-color;
      box-shadow: 0 0 10px var.$active-color;
    }
  }

  &:has(.cooperation__link:focus-visible) {
    outline: solid 1px var.$main-text-color;
    box-shadow: 0 0 10px var.$active-color;
  }
}

.cooperation__link {
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

.cooperation__img {
  width: 100%;
}
