.cooperation__list {
  display: flex;
  column-gap: 10%;
  row-gap: 20px;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
    column-gap: 5%;
    row-gap: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    column-gap: 2%;
    flex-wrap: nowrap;
  }
}

.cooperation__item {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: box-shadow, outline;

  @media screen and (min-width: $tablet-width) {
    width: 30%;
  }

  &:has(.cooperation__link:active) {
    outline: solid 1px $main-text-color;
    box-shadow: 0 0 10px $active-color;
  }

  @media (hover: hover) {
    &:has(.cooperation__link:hover) {
      outline: solid 1px $main-text-color;
      box-shadow: 0 0 10px $active-color;
    }
  }

  &:has(.cooperation__link:focus-visible) {
    outline: solid 1px $main-text-color;
    box-shadow: 0 0 10px $active-color;
  }
}

.cooperation__link {
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

.cooperation__img {
  width: 100%;
}
