@use "../utils/variables" as var;
@use "../utils/fonts" as fonts;

.logo {
  font-family: fonts.$secondary-normal-font;
  font-size: 35px;
  -webkit-text-fill-color: transparent;

  background: var.$shine-gold-background;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-position: left;

  animation: shine 3s infinite;

  transition-duration: var.$normal-transition-duration;
  transition-timing-function: var.$normal-transition-timing-function;
  transition-property: background-size;

  @media screen and (min-width: var.$desktop-width) {
    font-size: 50px;
  }
}

.logo-link {
  padding: 0px 5px;
  border-radius: 5px;

  transition-duration: var.$normal-transition-duration;
  transition-timing-function: var.$normal-transition-timing-function;
  transition-property: box-shadow;

  &:active {
    background-color: var.$main-background-color;

    .logo {
      background-size: 270%;
      animation: shine 1s infinite;
    }
  }

  @media (hover: hover) {
    &:hover {
      .logo {
        background-size: 270%;
        animation: shine 1s infinite;
      }
    }
  }

  &:focus-visible {
    box-shadow: 0 0 5px var.$active-color;
    outline: none;

    .logo {
      background-size: 270%;
      animation: shine 1s infinite;
    }
  }
}
