.logo__title {
  font-family: $secondary-normal-font;
  font-size: 35px;
  background: $shine-gold-background;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite;
  background-size: 100%;
  background-position: left;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: background-size;

  &:hover,
  &:focus,
  &:active {
    background-size: 270%;
    animation: shine 1s infinite;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 50px;
  }
}
