.mob-menu {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $main-background-color;

  transform: translateX(100%);

  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-property: transform;

  &.mob-menu-open {
    transform: translateX(0);
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mob-menu__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mob-menu__book-btn {
  font-size: 2.5rem;
}

.button.close-menu-btn {
  padding: 0;
  border-radius: 50%;
}

.close-menu-icon {
  fill: $main-text-color;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: fill;
}
