.nav__list {
  display: flex;

  @media screen and (max-width: 767.98px) {
    flex-direction: column;
    gap: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__item {
  text-align: center;
  @media screen and (max-width: 767.98px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 15%;
  }
}

.nav__link {
  text-align: center;
  font-size: 2.5rem;

  @media screen and (min-width: 768px) {
    display: block;
    width: 100%;
    padding: 10 5;
    border-radius: 10px;
    font-size: 12px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }

  &.active {
    @media screen and (max-width: 767.98px) {
      color: rgba(236, 172, 32, 1);
      // text-shadow: 0 0 5px #ffee10;
    }

    @media screen and (min-width: 768px) {
      color: rgba(236, 172, 32, 1);
      box-shadow: 0 0 5px rgba(236, 172, 32, 1);
      // text-shadow: 0 0 5px #ffee10;
    }
  }
  &:hover,
  &:focus {
    @media screen and (max-width: 767.98px) {
      color: rgba(249, 244, 180, 1);
      text-shadow: 0 0 5px rgba(249, 244, 180, 1);
    }

    @media screen and (min-width: 768px) {
      color: rgba(249, 244, 180, 1);
      box-shadow: 0 0 5px rgba(249, 244, 180, 1);
      text-shadow: 0 0 5px rgba(249, 244, 180, 1);
    }
  }
}
