.price-list {
  width: 98%;
  padding-left: 5px;
  padding-right: 5px;

  &__title {
    font-size: 20px;
    padding-bottom: 5px;
    background-image: url(../images/backgrounds/gold-structure.webp);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  & table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  & thead {
    text-align: center;
    background-color: $secondary-background-color;
    font-size: larger;
  }

  & td,
  & th {
    border: 1px solid $table-border-color;
    padding: 8px;
  }

  & .t-column-price {
    width: 35%;
  }
}
