.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services__item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.services__item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: none;

  color: inherit;
  background-color: inherit;

  cursor: pointer;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    color: $active-color;
    text-shadow: 0 0 5px $active-color;
    transform: scaleY(1.2);
    outline: none;
  }
}

.services__show-more-btn {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.services__show-more-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -53%);
  display: none;

  stroke: $main-text-color;

  &.active {
    display: block;
  }
}

.services__table {
  display: none;
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;

  &.active {
    display: block;
  }

  & tbody {
    display: block;
    width: 100%;

    & tr:nth-child(odd) {
      background-color: $secondary-background-color;
    }
  }

  & tr {
    display: flex;
    width: 100%;
  }

  & .name-column {
    width: 65%;
  }

  & .price-column {
    width: 35%;
  }

  & td,
  & th {
    border: 1px solid $table-border-color;
    padding: 8px;
  }
}
