.socials {
  display: flex;
  gap: 10px;
}

.socials__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-text-color;

  &:active {
    background-color: $active-color;
    box-shadow: 0 0 5px $active-color;
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $active-color;
      box-shadow: 0 0 5px $active-color;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $active-color;
    box-shadow: 0 0 5px $active-color;
  }
}

.socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
