footer {
  padding-top: 5px;
  padding-bottom: 5px;

  border: 1px solid $active-color;
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  border-left: none;
  border-right: none;

  & .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 12px;

    @media screen and (min-width: $tablet-width) {
      font-size: 12px;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 20px;
    }
  }

  & a {
    text-decoration: underline;

    &:active {
      color: $active-color;
      text-shadow: 0 0 5px $active-color;
    }

    @media (hover: hover) {
      &:hover {
        color: $active-color;
        text-shadow: 0 0 5px $active-color;
      }
    }

    &:focus-visible {
      outline: solid 1px $active-color;
      color: $active-color;
      text-shadow: 0 0 5px $active-color;
    }
  }
}
