.head {
  z-index: 10;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid $active-color;
  border-radius: 0px 0px 8px 8px;
  border-top: none;
  border-left: none;
  border-right: none;

  background-color: $main-background-color;

  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transition-property: background-color, backdrop-filter;

  &.sticky {
    position: fixed;
    top: 0;
    background-color: rgba($main-background-color, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

/* Adding top padding to the page content to prevent 
sudden quick movement (as the header gets a new position 
at the top of the page (position:fixed and top:0) */
.sticky + main {
  // to correct in dependence of the height of the header
  padding-top: 50px;
}

.container.head__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.head__nav {
  @media screen and (max-width: calc($tablet-width - 0.02px)) {
    display: none;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    width: 70%;
  }
}

.head__book-btn {
  font-size: 1.2rem;

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.button.open-menu-btn {
  padding: 0;
  border-radius: 5px;
  background-color: inherit;
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}
