.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 20px;

  @media screen and (min-width: $tablet-width) {
    column-gap: 2%;
  }

  @media screen and (min-width: $desktop-width) {
    column-gap: 2.667%;
    row-gap: 25px;
  }
}

.portfolio__gallery a {
  display: block;
  width: 47%;
  border-radius: 5px;
  overflow: hidden;

  transition-duration: $normal-transition-duration;
  transition-timing-function: $normal-transition-timing-function;
  transition-property: transform, box-shadow;

  @media screen and (min-width: $tablet-width) {
    width: 32%;
  }

  @media screen and (min-width: $desktop-width) {
    width: 23%;
  }

  &:active {
    box-shadow: 0 0 5px $active-color;
  }

  @media (hover: hover) {
    &:hover {
      transform: translate(1.1);
      box-shadow: 0 0 5px $active-color;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 5px $active-color;
    transform: translate(1.1);
  }
}

.portfolio__img-thumb {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 4 / 3);
}

.portfolio__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.simple-lightbox {
  color: $main-text-color !important;
  background-color: rgba($main-background-color, 0.9);
}

.sl-close {
  color: $main-text-color !important;

  &:hover,
  &:focus,
  &:active {
    color: $active-color !important;
    text-shadow: 0 0 5px $active-color !important;
  }
}

.sl-counter {
  color: $main-text-color !important;
}

.sl-next,
.sl-prev {
  color: $main-text-color !important;

  &:hover,
  &:focus,
  &:active {
    color: $active-color !important;
    text-shadow: 0 0 5px $active-color !important;
  }
}

.sl-caption {
  color: $main-text-color !important;
}
